$services-img-height: 35rem;


$primary-color: #ff4e20;
$secondary-color: #002a4e;
$secondary-color-2: #eff4f7;
$white-color: #FFFFFF;


$container-with: 1140px;

body{
    overflow: hidden;
    overflow-y: auto;
    font-family: "Poppins", sans-serif;
}


.partial-container-right{
    max-width: calc((#{$container-with}) + (50% - (#{$container-with}) / 2));
    padding-left: 1rem;
    margin-left: auto;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, p, figure{
    margin: 0;
}

a{
    text-decoration: none;
}

.container{
    max-width: $container-with;
    &.lg{
        max-width: calc((#{$container-with}) + 100px);
    }
}

.section-space{
    padding: 6rem 0;
}
.section-space-top{
    padding-top: 6rem;
}
.section-space-bottom{
    padding-bottom: 6rem;
}

