@media (max-width: 992px){
    .main-navbar{
        .nav-links{
            li{
                a.add-listings{
                    padding: 8px 0!important;
                    background-color: transparent;
                    text-align: left;
                    color: $--secondary-color;
        
                }
            }
        }
    }
   




}




@media (max-width: 767px){
    .upcoming-projects-section{
        .upcoming-projects-sectin-wrapper{
            figure{
                img{

                    position: static!important; 
                }
            }           
}           .swiper-slide{
                background-color: transparent!important;
                padding: 0!important;
}

    }
}
