@media (max-width: 992px){
    .main-navbar{
        .nav-links{
            ul{
                li{
                    a.add-listings{
                        padding: 8px 0!important;
                        background-color: transparent;
                        text-align: left;
                        color: $secondary-color;
            
                    }
                }
            }
            
        }
    }
    .hero-section-inner{
        display: block;
    }
    .left-section{
        width: 100%; 
        padding: 5rem 0;  
        display: flex;
        justify-content: center;
    }
    .right-section{
        width: 100%;
    }
    .upcoming-projects-section{
        .upcoming-projects-sectin-wrapper{
            figure{
                figcaption{
                    padding-bottom: 0;
                    padding: 10rem 0;
                }
            }
        }

    }



    .swiper-wrapper-main{
        position: static!important; 
        transform: none!important;
    }

   




}




@media (max-width: 767px){
    .upcoming-projects-section{
        .swiper-controlers{
            margin-top: 3rem;
            right: 88%!important;
            top: 100%!important;

        }

          .swiper-slide{
                background-color: transparent!important;
                padding: 0!important;
}

    }
}





