@media (max-width: 992px){
    .main-navbar{
        .nav-links{
            li{
                a.add-listings{
                    padding: 8px 0!important;
                    background-color: transparent;
                    text-align: left;
                    color: $--secondary-color;
        
                }
            }
        }
    }
   




}


